body{
    background-color: rgba(86, 170, 173, 0.377);
}
div{
    background-color:rgba(163, 19, 163);
    color:white;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
}
div span{
    color: black;
    background-color: white;
    padding: 4px;
    font-family: fantasy;
}
div span:hover{
    color: white;
    background-color: black;
    padding: 4px;
    font-family: fantasy;
}
div p{
    text-align: justify;
    font-family: cursive;
    padding: 10px;
}
div h2:hover{
    color: rgb(96, 255, 75);
}
div h2{
    font-family: monospace;
}